html, body { background-color: #c88; height: 100%;}

#container{width: 70%; min-height: 100%; margin: 0 auto; background-color: #fff;}

#menu {	
	height: 1.8em;
	display: table;
	font-size: 1em;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	background-color: #ddd;
}

$color1: green; $color2: white; $color-b1: green; $color-b2: red;

.menuit:link {color: $color1; font-weight: bold; text-decoration: none;}
.menuit:visited {color: $color1; font-weight: bold; text-decoration: none;}
.menuit:hover  {color: $color2; background-color: $color-b1; font-weight: bold; text-decoration: none;}
.menuit:active {color: $color2;background-color: $color-b2; font-weight: bold; text-decoration: none;}				

%header {
	font-style: italic;
	color: #33c;
}

h1{
	@extend %header;
	font-size: 2.5em;
	text-align: center;
	font-weight: bold;
	
}

h2{
	@extend %header;
	font-size: 1.8em;
	text-align: left;
}

.caja{
	margin: 0 auto;
	padding-top: 4em;
	width: 60%; 
}

#footer {
	bottom: 0;
	margin: 0 auto;
	width: 70%;	
	text-align: center;
	background-color: #ddd;
	color: #00f;
	font-size: 0.8em;
	padding-top: 0.2em;
}

%texto-general{
	font-family: sans-serif;
    font-weight: bold;
    padding: 20px;
    color: #008020;
}

.texto{
	@extend %texto-general;
	width: 60%;
	margin: auto;
}

li {
	@extend %texto-general;
	paddle-left: 3em;
	paddle-top: 3em;
}

.info{
	color: #008020;
	margin-top: 3em;
	paddle: 3em;
	font-size: 1.8em;
}

.info2{
	color: #002080;
	margin-left: 3em;
	font-weight: bold;
}

table{
	@extend %texto-general;
	border: 1px solid black;
	border-collapse: collapse;
}

caption {
	caption-side: top;
	text-align:center;
	border: 1px solid black;
	padding-top: 1em;
	padding-right: 2em;
	padding-bottom: 1em;
	padding-left: 2e;
	background-color: #dfe;
}

td {
	border: 1px solid black;
	padding-top: 0.5em;
	padding-right: 2em;
	padding-bottom: 0.5em;
	padding-left: 2em;
}

.world {
	display: block;
	border-radius: 10%;
	max-width: 100%;
	height: auto;
	margin: auto;
	
}

@media (max-width: 600px) {
  .world {
    display: none;
  }
}
